{{ block "index" . }}
<!DOCTYPE html>
<html id="html">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial scale=1">
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        />
        <meta name="color-scheme" content="light dark" />
    </head>
    <body>
        <main class="container">
            <h1 align="center">Hello world!</h1>
        </main>
        <div id="count" class="container" align="center">
            {{ template "count" . }}
        </div>
        <br>
        <div class="container" align="center">
            <button hx-post="/count" hx-target="#count" >Plus</button>
        </div>
        <div id="buttons">
            {{ template "buttons" . }}
        </div>
        <div id="themes">
            {{ template "theme" . }}
        </div>
    </body>
</html>
{{ end }}

{{ block "count" . }}
    Count {{ .Count }}
{{end}}

{{ block "buttons" . }}
    {{ if .Left }}
    <button disabled>Right</button>
    <button hx-post="/buttons" hx-target="#buttons" >Left</button>
    {{ else }}
    <button hx-post="/buttons" hx-target="#buttons" >Right</button>
    <button disabled>Left</button>
    {{ end }}
{{ end }}

{{ block "theme" . }}
    {{ if (eq .Theme "dark") }}
    <button hx-post="/theme" data-theme="light" hx-target="#themes" width=10%>Light</button>
    {{ else }}
    <button hx-post="/theme" data-theme="dark"  hx-target="#themes" width=10%>Dark </button>
    {{ end }}
{{ end }}
