{{ block "index" . }}
<!DOCTYPE html>
<html id="index">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial scale=1">
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        />
        <meta name="color-scheme" content="light dark" />
    </head>
    {{ template "index_body" .}}
</html>
{{ end }}

{{ block "count" . }}
    Count {{ .Count }}
{{end}}

{{block "index_body" .}}
<body id="bod">
    <main class="container">
        <h1 align="center">Hello world!</h1>
    </main>
    <div id="count" class="container" align="center">
        {{ template "count" . }}
    </div>
    <br>
    <div class="container" align="center">
        <button hx-post="/count" hx-target="#count" >Plus</button>
    </div>
    <div id="buttons">
        {{ template "buttons" . }}
    </div>
    <div id="theme">
        {{ template "theme" . }}
    </div>
    <br>
    <button hx-get="/offers" hx-replace-url="true" hx-target="#bod" hx-swap="outerHTML">Contacts</button>
</body>
{{ end }}
