{{ block "offers" . }}
<!DOCTYPE html>
<html id="data">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial scale=1">
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        />
        <meta name="color-scheme" content="light dark" />
    </head>
    {{ template "offers_body" . }}
</html>
{{ end }}

{{ block "offers_body" . }}
<body id="bod">
    <button hx-get="/" hx-replace-url="true" hx-target="#bod" hx-swap="outerHTML">Home</button>
    {{ template "contact_form" . }}
    <hr>
    <div id="contacts" style="display: flex; flex-direction: column;">
        {{ template "contact_range" . }}
    </div>
</body>
{{ end }}
